ZuanGua.PatentBus/.vs/ZuanGua.PatentBus/v16/.suo
ZuanGua.PatentBus/ZuanGua.PatentBus.BLL/obj/Debug/
ZuanGua.PatentBus/ZuanGua.PatentBus.Common/obj/Debug/
ZuanGua.PatentBus/ZuanGua.PatentBus.DAL/obj/Debug/
ZuanGua.PatentBus/ZuanGua.PatentBus.Model/obj/Debug/
ZuanGua.PatentBus/ZuanGua.PatentBus.UI.Portal/obj/Debug/
