.condition{
    ul {
        li {
            &:first-child {
                span {
                    vertical-align: 43px;
                }
            }
            &:nth-child(n+2) {
                height: 28px;
                line-height: 28px;
            }
            span {
                padding: 8px 15px;
                cursor: pointer;
            }
            span:first-child {
                cursor: default;
                font-size: 16px;
                color: #000;
                font-weight: bold;
            }
            span.cur {
                color: red;
            }
        }
    }
}
