.sys-header {
    // position: relative;
    width: 100%;
    height: $headerHeight;
    background-color: $headerBgColor;
    z-index: 500;
    display: flex;
    .logo {
        height: $headerHeight;
        line-height: $headerHeight;
        padding: 20px 0 20px 60px;
        box-sizing: border-box;
        width: 151px;
        color: $headerColor;
        font-size: $headerFontSize;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .hearder-main {
        flex: 1;
        height: $headerHeight;
        &>ul {
            height: 40px;
            &>li {
                height: 40px;
                line-height: 40px;
                margin-right: 20px;
                color: $headerColor;
                cursor: pointer;
                color: $headerColor;
                .order:hover, .points:hover {
                    color: red;
                }
            }
            &.userInfo>li {
                float: right;
                .loginBtn {
                    color: #f3881a;
                }
                .register{
                    color: #f40;
                }
            }
            &.buyBtn>li {
                float: left;
                padding-right: 20px;
            }
        }
        .headerSearch {
            width: 70%;
            margin: 0 20px;
        }
        .buyBtn {
            margin-left: 20px;
            li {
                .el-button {
                    color: #f40;
                }
            }
        }
    }
    .editPawDialog{
        width: 400px;
    }
}
