.sys-page{
  .sort {
      margin-top: 28px;
      height: 32px;
      p {
          float: left;
          padding: 8px 20px;
          border: 1px solid #666666;
          cursor: pointer;
          &:nth-child(n+2) {
              border-left: none;
          }
          &.cur {
              background: #ffa64a;
          }
      }
  }
}
