.sys-login{
    width: 100%;
    height: 100%;
    background: $loginBg;
    //padding-top: 20px;
    box-sizing: border-box;
    overflow: hidden;
    .login-header {
        display: flex;
        align-items: center;
        height: 80px;
        background-color: #ffffff;
        padding-right: 8%;
        h1.logo {
            width: 40%;
            text-align: center;
        }
        .el-row {
            flex: 1;
        }
        div.tabList {
            padding-left: 50px;
            font-size: 16px;
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: 10px center;
            h1 {
                margin-bottom: 3px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .login-area {
        width: 300px;
        height: 360px;
        float: right;
        margin-top: 5%;
        margin-right: 8%;
        padding: 12px 25px ;
        background-color: #ffffff;
        .logo{
            width: 100%;
            height: 100px;
            text-align: center;
            img {
                width: 160px;
            }
        }
    }

    .title{
        color: #333333;
        font-size: 18px;
        padding-bottom: 8px;
        margin: 10px;
        text-align: center;
        border-bottom: 2px solid #ff4400;
    }

    .form-group {
        margin-top: 10px;
        position: relative;
        //padding-bottom: 20px;
        color: $loginTextColor;
        overflow: hidden;

        input::-webkit-input-placeholder{
            color: #7e9fb0;
        }

        .el-input__inner {
            height: 40px;
            line-height: 40px;
            padding-left: 10px;
            background-color: $loginInputBg;
            border: 1px solid $loginInputBorderColor;
            border-radius: 4px;
            color: $loginInputColor;
            font-size: 15px;
            overflow: hidden;

            &:hover{
                border-color: rgba(255,255,255,.2);
            }
            &:focus{
                border-color: rgba(255,255,255,.4);
            }
        }
        .el-form-item{
            height: 40px;
            &.is-error .el-input__inner{
                border-color: $red;
                background-color: $loginInputErrBg;
            }
            &.captcha {
                .el-input{
                    width: auto;
                }
                input{
                    width: 200px;
                }
                img{
                    float: right;
                    width: 100px;
                    height: 40px;
                }
            }
        }
        .el-form-item__error{
            color: $loginErrTextColor;
        }
    }

    .btn-login {
        width: 100%;
        line-height: 40px;
        padding: 0;
        font-size: 18px;
    }

    .err-msg{
        color: $red;
    }
    .tip{
        margin-top: 10px;
        color: $loginTextColor;
    }

    .lang-toggle{
        text-align: center;
        color: $loginTextColor;

        span{
            display: inline-block;
            width: 26px;
            height: 26px;
            line-height: 26px;
            border-radius: 50%;
            color: $loginTextColor;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            &.cur{
                background: $loginLangCurBg;
                color: $loginLangCurColor;
            }
        }
    }

    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        line-height: 80px;
        color: $loginTextColor;
        font-size: 16px;
        text-align: center;
    }
}
